body {
  margin: 0px;
  background-image: url("../public/image.jpg");
  background-size: cover;
  color: aliceblue;
}
table thead th td {
  color: white;
  font-size: 10pt;
}
a {
  color: aliceblue;
}
.card {
  backdrop-filter: blur(5px); /* Apply the blur effect */
  background-color: rgba(230, 215, 215, 0.3);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
}
